ul {
  height: 100%;
  min-height: 100vh;
  line-height: 6;
  background: #20002c;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top:15%;
}
.active{
  background-color: rgb(167, 163, 163);
}